body
{
background-position: center;
background-size: cover;
border-radius: 20px;
border-style: groove;
border: yellow;
}

.heading
{
font-size: 23px;
width: 100%;
margin: 0px;
border-radius: 20px;
box-sizing:  5px;
border-top: yellow;
border-bottom: purple;
border-left: darkred;
border-right: blue;
}

#status , #number_of_objects
{
font-size: 18px;
border-radius: 20px;
border-width: 5px;
border-top: yellow;
border-bottom: purple;
border-left: darkred;
border-right: blue;
}

.copy_right_footer{
    position:fixed;
    bottom:0;
    width:100%;
    line-height: 2;
    background-color: blueviolet;
    box-shadow: 15px 15px 15px yellow;
    border: orange;
    border-radius: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: yellow;
}

canvas{
    border-radius: 20px;
    animation-name: ex1;
    animation-iteration-count: infinite;
    animation-duration: 4s;


}
@keyframes ex1 {
    from {box-shadow: 5px 5px 5px yellow;}
    to {box-shadow: 5px 5px 5px red;}
}
